---
services:
  litellm:
    image: ghcr.io/berriai/litellm:main-stable
    restart: unless-stopped
    ports:
      - "4000:4000"
    environment:
      DATABASE_URL: "postgresql://llmproxy:{{ lookup('ansible.builtin.env', 'LITELLM_DB_PWD') }}@db:5432/litellm"
      STORE_MODEL_IN_DB: "True"
      LITELLM_MASTER_KEY: "{{ lookup('ansible.builtin.env', 'LITELLM_MASTER_KEY') }}"
      LITELLM_SALT_KEY: "{{ lookup('ansible.builtin.env', 'LITELLM_SALT_KEY') }}"
      UI_USERNAME: 'matagoth'
      UI_PASSWORD: "{{ lookup('ansible.builtin.env', 'UI_PASSWORD') }}"
    depends_on:
      - db
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 http://localhost:4000/health/liveliness || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  db:
    image: postgres:16
    restart: always
    container_name: litellm_db
    environment:
      POSTGRES_DB: litellm
      POSTGRES_USER: llmproxy
      POSTGRES_PASSWORD: "{{ lookup('ansible.builtin.env', 'LITELLM_DB_PWD') }}"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d litellm -U llmproxy"]
      interval: 1s
      timeout: 5s
      retries: 10


volumes:
  postgres_data:
