[Unit]
Description=Signum Miner
After=network.target

[Service]
WorkingDirectory=/etc/signum-miner
ExecStart=/etc/signum-miner/signum-miner
Type=simple
Restart=always
TimeoutStartSec=3600

[Install]
WantedBy=multi-user.target
