[Unit]
Description=graphana
Requires=network.target 
After=network.target

[Service]
Type=simple
User=graphana
WorkingDirectory=/etc/graphana/
ExecStart=/etc/graphana/bin/grafana server --config /etc/graphana/conf/config.ini --homepath /etc/graphana
Restart=always

[Install]
WantedBy=multi-user.target
