$ORIGIN homelab.matagoth.com.
$TTL 3600
homelab.matagoth.com.	IN	SOA	ns.homelab.matagoth.com.	matagoth.gmail.com.	( 2023102419 7200 3600 1209600 3600 )
homelab.matagoth.com.	IN	NS	ns
ns	IN	A	10.20.1.201
