# Managed by Ansible (backup_pull role). Local edits are overwritten.
BACKUP_PULL_ROOT={{ backup_pull_root | quote }}
BACKUP_PULL_NTFY_URL={{ backup_pull_ntfy_url | quote }}
BACKUP_PULL_NTFY_TOPIC={{ backup_pull_ntfy_topic | quote }}
