[user]
	name = {{ claude_workstation_bot_user }}
	email = {{ claude_workstation_bot_email }}
[credential]
	helper = store
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[url "{{ claude_workstation_forge_url }}/"]
	insteadOf = {{ claude_workstation_forge_public_url }}/
