---
account:
  id: "{{ signum_mqtt_bridge_account_id }}"

pool:
  url: "{{ signum_mqtt_bridge_pool_url | default('https://pool.signumcoin.ro') }}"

node:
  url: "{{ signum_mqtt_bridge_node_url | default('https://wallet.signumcoin.ro') }}"

poll_interval: {{ signum_mqtt_bridge_poll_interval | default(60) }}
http_timeout: {{ signum_mqtt_bridge_http_timeout | default(10) }}

mqtt:
  host: {{ signum_mqtt_bridge_mqtt_host }}
  port: {{ signum_mqtt_bridge_mqtt_port | default(1883) }}
  username: {{ signum_mqtt_bridge_mqtt_username }}
  password_file: /etc/signum-mqtt-bridge/mqtt_password
  client_id: {{ signum_mqtt_bridge_mqtt_client_id | default(inventory_hostname + '-signum-mqtt-bridge') }}

discovery:
  prefix: {{ signum_mqtt_bridge_discovery_prefix | default('homeassistant') }}
  state_topic_prefix: {{ signum_mqtt_bridge_state_topic_prefix | default('signum') }}
